.container {
  background-color: rgb(194, 238, 238);
  height: 400px;
  max-width: 250px;
  margin-left: 38%;
  font-family: cursive;
  border: 2px solid cadetblue;
  margin-bottom: 10px;
}

.loginForm {
  padding: 20px;
}

.field {
  margin: 15px 0px 0px 15px;
}

.submitBtn {
  height: 30px;
  width: 83%;
  background-color: blueviolet;
  color: aliceblue;
  border-radius: 5px;
  border-color: blueviolet;
  margin-left: 15px;
}

h1 {
  color: black;
  padding-left: 35px;
}

input {
  height: 20px;
  border-radius: 5px;
  background-color: whitesmoke;
}

.detailsSection {
  background-color: rgb(125, 248, 114);
  height: 150px;
  max-width: 250px;
  margin-left: 38%;
  font-family: cursive;
  border: 2px solid cadetblue;
  margin-bottom: 10px;
}

.errorTxt {
  color: red;
  margin: 15px;
}
